/*
<?--Test sentence: The quick brown fox jumps over the lazy dog.-->
<?--Headers: Acme, Righteous, Berkshire Swash, Audiowide, Spicy Rice-->
<?--Sub-headers: Acme, Righteous, Berkshire Swash, Audiowide, Spicy Rice, Grand Hotel-->
<?--Paragraphs: Cherry Swash, Comfortaa, Grenze, Josefin Sans, Lato, Montserrat, Play, Raleway, Ubuntu-->
    <?--Round: Comfortaa, Montserrat, Raleway, Ubuntu-->
    <?--Simple: Montserrat, Lato-->
    <?--Fancy: Cherry Swash, Grenze, Play, Josefin Sans-->
<?--Similar: Comfortaa, Montserrat, Raleway, Josefin Sans; Ubuntu-->
<?--Sets: Berkshire Swash/Grand Hotel/Cherry Swash; Spicy Rice/Acme; Audiowide/Play|Ubuntu|Comfortaa|Josefin Sans|Montserrat|Lato; Righteous/Josefin Sans-->

font-family: 'Acme', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Berkshire Swash', cursive;
font-family: 'Cherry Swash', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Grenze', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Play', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Spicy Rice', cursive;
font-family: 'Ubuntu', sans-serif;
*/

body {
    background-color: #dbebff;
    color: #00054c;
}

h1 {
    text-align: center;
    font-family: 'Berkshire Swash', cursive;
}

h2 {
    text-align: left;
    font-family: 'Cherry Swash', cursive;
    font-weight: 700;
    font-size: 200%;
}

p {
    text-align: left;
    font-family: 'Cherry Swash', cursive;
    font-weight: 400;
    font-size: 18px;
}

.body-paragraph {
    margin-left: 15%;
    margin-right: 15%;
}

.paragraph {
    text-indent: 10%
}

#icon {
    margin: 0px 0px 0px 0px;
    padding: 100px 100px 100px 100px;
    background: url('Portrait.jpg') no-repeat scroll left top;
    background-size: cover;
    border-radius: 50%;
    float: right;
    position: relative;
    right: 15%;
    bottom: 40px;
}

#icon-row {
    vertical-align: bottom;
}

#cover-pic {
    margin: 0px 0px 0px 0px;
    padding: 150px 0px 150px 0px;
    background: url('Full Geometric.gif') no-repeat scroll center top;
    background-size: 100% 100%;
    width: cover;
}
